@import url(basic.css);

.theme_bg {
     background: #38c8a8;
}

/** contact section **/



/** end contact section **/


/** footer **/


.footer-content {
     display: flex;
     justify-content: center;
}

.footer h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

.about_us li {
     color: #fff;
     font-size: 17px;
     text-align: left;
}

.conta li {
     color: #fff;
     font-size: 17px;
     text-align: left;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-bottom: 15px;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 100%;
     height: 45px;
     background: #fffffff2;
     color: #ccc8c8;
     font-size: 17px;
     font-weight: 600;
     float: left;
     border-radius: 10px;
     margin-bottom: 20px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #48ca95;
     color: #fff;
     padding: 10px 0px;
     max-width: 147px;
     border-radius: 10px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
}

.sub_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}



/** end footer **/


/** inner page css **/

.inner_posituong .header {
     position: inherit;
     background: #4843a3;
}

.computer_page .laptop {
     margin-top: 90px;
}

.contact_page .contact {
     margin-top: 90px;
}


/** about **/

.about {
     background-color: #fff;
     padding: 90px 0;
}

.about .titlepage {
     text-align: left;
}

.about .titlepage h2 {
     max-width: inherit;
     border: inherit;
}

.about .titlepage p {
     padding: 30px 0;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}


/** end about **/


/** laptop **/

.laptop1 {
     background-color: #f6f6f6;
     padding: 90px 0;
}

.laptop1 .titlepage {
     text-align: right;
}

.laptop1 .titlepage h2 {
     max-width: inherit;
     border: inherit;
     color: #000;
}

.laptop1 .titlepage p {
     padding: 30px 0;
     color: #000;
}

.laptop1_img figure {
     margin: 0;
}

.laptop1_img figure img {
     width: 100%;
}

.table_iframe{
     height: 100%;
     width: 100%; 
     position: relative;
     border: none;
}

iframe{
     margin: 0;
     padding: 0;
     border: 0;
     top: 0;
     left: 0;
     position: fixed;
}

.switch_items{
     width: 40%;
     height: 100%;
     display: flex;
     justify-items: center;
     align-self: center;
     margin-left: 20px;
}
/** end laptop **/


.iframe_page {
     margin: 15%;
}